@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


// Variables
$gray: #424242;
$light-gray: #929292;
$blue: #0097d9;




// Core HTML and Classes
.row {
	&.stretch {
		max-width:none;
		margin:0;
		padding:0;
	}
}




// Specific
#header {

	background: url('../images/header-image-warmup.jpg') top left no-repeat;
	background-size: cover;
	color:white;
	max-width:none;
	margin:0;
	padding:0;

	#topNav {
		background:rgba(0,0,0,.8);
		padding-top:1.5rem;
		padding-bottom:1.5rem;

		.logo {
			background: url('/../images/ifit-logo.png') top left no-repeat;
			float:left;
			margin-left:1.5rem;
		}

		.right-buttons {
			text-transform:uppercase;
			font-weight:bold;
			float:right;
			a {
				font-size:.75rem;
				color:white;
				padding-left:1rem;

				.menu-icon {
					color:white;
					max-width:.7rem;
					margin-left:.25rem;
					&::after {
						box-shadow: 0 4px 0 #fefefe,0 8px 0 #fefefe;
						top:1px;
					}
				}
			}
		}
	}

	#mainNav {
		background:rgba(255,255,255,.8);
		padding-top:1rem;
		padding-bottom:1rem;
		border-bottom:solid 1px $light-gray;

		.page-title {
			color:$gray;
			font-weight:bold;
			float:left;
			margin-left:1.5rem;
		}
		.right-buttons {
			float:right;
			a {
				color:$light-gray;
				font-weight:400;
				margin-left:1rem;
				font-size:.75rem;
				text-transform:uppercase;
				&.active {
					color:$gray;
					font-weight:bold;
					border-bottom:solid 1px lighten($light-gray,20%);
				}
				&#btnSearch img {
					width:1.25rem;
				}
			}
		}
	}

	#c2aHeader {
		h1 {
			text-transform: uppercase;
			padding-top:13rem;
			font-weight:300;
			line-height:2.75rem;
		}
		h2 {
			max-width:23rem;
			padding-bottom:13rem;
			font-size:1rem;
			margin-top:1.5rem;
		}
	}

}

#gridBody {
	.grid-title {
		text-align:center;
		color:$gray;
		margin-top:2.5rem;
	}
	.grid-desc {
		text-align: center;
		margin:0 auto;
		max-width:50%;
		color:$gray;
		margin-top:1.5rem;
		margin-bottom:2rem;
	}
	#gridBlocks {
		img {
			margin-bottom:0;
		}
		.block-title {
			color:$gray;
			font-weight:bold;
			font-size:1rem;
		}
		.block-subtitle {
			font-style: italic;
		    font-size: .8rem;
		    line-height: .5rem;
		    color:$light-gray;
		    text-transform:lowercase;
		    margin-bottom:3rem;
		}
	}
	#btnGridBody {}
}

#quotes {
	.quote-text {}
	.quote-author {}
}

#c2aJoin {
	h3 {}
	#btnJoin {}
}

#footer {}


































